/*
    Rockfish Configuration
*/

params {
    baseDir = '/vast/eande106'
    workDir = '/vast/eande106/work'
    dataDir = '/vast/eande106/data'
    softwareDir = '/data/eande106/software'
}

process {
    executor = 'slurm'
    queueSize = 100

    withLabel: call_isotypes {
        container = "andersenlab/numpy:20250224"
        clusterOptions = '-A eande106 -e errlog.txt -N 1'
        maxRetries = 3
    }

    withLabel: encode_vcf {
        container = "andersenlab/numpy:20250224"
        clusterOptions = '-A eande106_bigmem -e errlog.txt -N 1 -p bigmem'
        maxRetries = 3
    }

    withLabel: gtcheck {
        container = "andersenlab/numpy:20250224"
        clusterOptions = '-A eande106 -e errlog.txt -N 1'
        maxRetries = 3
    }
}

executor {
    queueSize=500
    submitRateLimit=10
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
    pullTimeout = '20 min'
}

workflow {
    workDir = "/scratch4/eande106"
}


